In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df=pd.read_csv('csv/listings.csv')
list(df.columns.values)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [4]:
df.isnull().sum()

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
name                                              15
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1907
Length: 106, dtype: int64

In [6]:
df['reviews_per_month'].isnull().sum

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
12610     True
12611     True
12612     True
12613     True
12614     True
Name: reviews_per_month, Length: 12615, dtype: bool>

In [19]:
df=df[['id','name','reviews_per_month','neighbourhood','longitude','latitude']]
df.head()

,id,name,reviews_per_month,neighbourhood,longitude,latitude
0,15883,b&b near Old Danube river,0.18,Donaustadt,16.42812,48.24144
1,38768,central cityapartement- wifi- nice neighbourhood,2.87,Leopoldstadt,16.37926,48.21823
2,40625,"Near Palace Schönbrunn, Apt. 1",1.32,Rudolfsheim-Fünfhaus,16.32740,48.18486
3,51287,little studio- next to citycenter- wifi- nice ...,2.62,Leopoldstadt,16.37781,48.21851
4,70568,apartment2rent - UNO City - Danube,0.10,Donaustadt,16.42460,48.22224

In [20]:
df.isnull().sum()

id                      0
name                   15
reviews_per_month    1907
neighbourhood          13
longitude               0
latitude                0
dtype: int64

In [21]:
df.to_csv(r'listingsS.csv')

In [29]:
test=df.neighbourhood
test.head()

0              Donaustadt
1            Leopoldstadt
2    Rudolfsheim-Fünfhaus
3            Leopoldstadt
4              Donaustadt
Name: neighbourhood, dtype: object

In [32]:
test.drop_duplicates( keep='first', inplace=True)
test

0                 Donaustadt
1               Leopoldstadt
2       Rudolfsheim-Fünfhaus
6                  Ottakring
7                Brigittenau
9                     Neubau
10                Margareten
13                   Hernals
15               Floridsdorf
17                 Simmering
23                    Wieden
27                Alsergrund
39              Innere Stadt
53                 Mariahilf
61                  Meidling
69                Josefstadt
73                Landstraße
75                 Favoriten
77                   Währing
170                  Penzing
267                  Döbling
317                  Liesing
545                 Heitzing
2588                     NaN
Name: neighbourhood, dtype: object